{% load i18n %}
{% autoescape off %}
{% block translate %}
Has recibido este correo, ya que la plataforma {{ site_name }} ha generado una petición de que olvidaste la contraseña. 
{% endblock translate %}
{% trans "Para obtener una nueva contraseña debes dar click en el siguiente enlace:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Tu USUARIO de la plataforma en caso de lo hayas olvidado es:' %} {{ user.get_username }}
{% trans "Gracias por usar nuestro sitio!" %}
{% block endemail %}
Attentamente: {{ site_name }} Equipo.
{% endblock endemail %}
{% endautoescape %}