{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block title%}Password reset complete{%endblock title%}



{%block header%}
<!-- Page Header -->
<style>
    header.masthead .site-heading {
    padding: 5px 0 52px;
    color: #fff
}
</style>

<header class="masthead"
    style="background-image: url({% block imagen%}{% static 'img/navbar.png' %}{% endblock imagen%})">
    <div class="overlay"></div>
    <div class="site-heading">

    </div>
</header>
{% endblock header%}

{%block content%}
<div class="container-fluid">
<div class="row">

    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h4>Se ha cambiado su contraseña!.</h4>
        <p>Ahora puede ingresar a la plataforma con su nueva contraseña.
            <a href="{% url 'login' %}">Ingresar a la plataforma</a>.
        </p>
    </div>
    <div class="col-md-2">

    </div>
</div>
</div>

{%endblock content%}
