{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IAnalytics, Neuroscience, Education, Cursos, Data Science">
    <meta name="author" content="">

    <title>{%block title%}{%endblock title%}</title>
    <!--Favivons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <script src='{% static "js/tinymce.js"%}'
    referrerpolicy="origin">
    </script>
<script>
    tinymce.init({
        selector: 'textarea#basic-example',
        height: 500,
        menubar: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_css: '//www.tiny.cloud/css/codepen.min.css'
    });
</script>
    {% block script %}

    {% endblock script %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home'%}">IAnalytics</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'datascience'%}">Ciencia de Datos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'neurociencia'%}">Neurociencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects'%}">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile_list'%}">Autores</a>
                    </li>

                    <!--
                        <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-light dropdown-toggle"  id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'home'%}">General</a>
                                <a class="dropdown-item" href="#">Educación</a>
                                <a class="dropdown-item" href="">Data Science</a>
                                <a class="dropdown-item" href="">Neurociencia</a>
                                <hr class="m-0 p-0">
                                <a class="dropdown-item" href="{% url 'profile_list'%}">Autores</a>
                            </div>
                        </div>
                    </li>
                    -->

                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.first_name }}
                            </button>
                            <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item bg-warning" href="{% url 'article_new' %}">Crear artículo +</a>
                                <a class="dropdown-item" href="{% url 'profile_detail' user.slug %}">Perfil</a>
                                <a class="dropdown-item" href="{% url 'profile_list' %}">Autores</a>
                                <a class="dropdown-item" href="{% url 'password_change'%}">Cambiar contraseña</a>
                                <hr class="m-0 p-0">
                                <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                            </div>
                        </div>
                    </li>
                </ul>
                {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'login' %}" class="btn btn-outline-info ml-2">
                        Log In</a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-secondary ml-2">
                        Sign up</a>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    {%block header%}

    {% endblock header%}


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% block content %}

                {% endblock content%}

                {% block flecha %}

                {% endblock flecha %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>                           
                            <div class="col-md-6">
                                <a href="{% url 'home'%}"><img src="{% static 'img/ianalytics_logo.png'%}" alt="IAnalytics" width="100%" ></a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/analytics_i" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/IAnalytics-2170594949923469/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <!--
                                                    <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        -->
                    </ul>
                    <p class="copyright text-muted mt-2">Copyright &copy; <strong>IAnalytics 2020</strong><br></p>
                    <!--
                        <p>
                        <small>
                            Cualquier duda o consulta, comunicarte a:
                            <b>+51 997 153 705 | jomendozag@uni.pe</b>
                        </small>
                    </p>
                    -->
                    
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>