{% extends 'base.html' %} {% load static %} {%block title%}IAnalytics{%endblock title%}
<section>
    <h3>Hola estamos trabajando para mejorar la experiencia, PRONTO ESTARÁ LISTA</h3>
</section>
<div class="container">
    <img src="https://previews.123rf.com/images/mike107/mike1071701/mike107170100479/70506739-cuaderno-con-toolls-y-notas-sobre-la-gesti%C3%B3n-de-proyectos.jpg" alt="" srcset="">
</div>


{% block flecha %}
<!-- Pager -->
<div class="clearfix">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if articles.has_next %}
            <li class="page-item"><a class="info" href="?page={{articles.next_page_number}}">&larr;Antiguos</a></li>
            {% endif %}
            <!--
                <li class="page-item"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            -->
            {% if articles.has_previous %}
            <li class="page-item"><a class="info" href="?page={{articles.previous_page_number}}">Recientes&rarr;</a>
            </li>
            {% endif %}

            <!--
            
            -->

        </ul>
    </nav>

</div>
{% endblock flecha %}